# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^dashboard$ dashboard.php [L,QSA]
RewriteRule ^dashboard2$ dashboard2.php [L,QSA]
RewriteRule ^maintenance$ maintenance.php [L,QSA]
RewriteRule ^register$ register.php [L,QSA]
RewriteRule ^deposit$ deposit.php [L,QSA]
RewriteRule ^withdraw$ withdraw.php [L,QSA]
RewriteRule ^bonusnew$ bonusnew.php [L,QSA]
RewriteRule ^bonustoday$ bonustoday.php [L,QSA]
RewriteRule ^card$ card.php [L,QSA]
RewriteRule ^history$ history.php [L,QSA]
RewriteRule ^refund$ refund.php [L,QSA]
RewriteRule ^show_game$ show_game.php [L,QSA]
RewriteRule ^login$ login.php [L,QSA]
RewriteRule ^affliliate$ affliliate.php [L,QSA]
RewriteRule ^spin$ spin.php [L,QSA]
RewriteRule ^game$ game.php [L,QSA]
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
# BEGIN LiteSpeed
# ?????? (????) ??????? "??????????? LiteSpeed" ??? "?????????? LiteSpeed" ????????????????
# ????????????????????????????????????????????? WordPress ????????
# ????????????????? ????????????????????????????????????????????????
<IfModule Litespeed>
SetEnv noabort 1
</IfModule>
# END LiteSpeed